{% extends 'index.html' %}
{% load static %}

{% block content %}
<h2 style="text-align: center;">All Products</h2>

<table class="table table-bordered table-secondary" style="border:1px solid rgb(13, 12, 12)">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price (₹)</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100" height="80">
                {% else %}
                    No image
                {% endif %}
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No products found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
